<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Step03_class.html</title>
    <!-- 부트스트랩 로딩 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" />
</head>
<body>
    <h3>클래스속성 값 제어하기</h3>
    <div id="app">
        <button class="btn btn-primary btn-lg">버튼</button>
        <!--<button v-bind:class="{'btn':true,'btn-primary':isPrimary,'btn-lg':isLg}">버튼 2</button>제어 하기 싫으면--> 
        <button class="btn" v-bind:class="{'btn-primary':isPrimary,'btn-lg':isLg}">버튼 2</button>
        <br>
        isLg <input type="checkbox" v-model="isLg">
        isPrimary <input type="checkbox" v-model="isPrimary">
        <br>
        버튼의 색상을 고르세요
        <select v-model="btnColor">
            <option value="btn-primary">primary</option>
            <option value="btn-info">info</option>
            <option value="btn-success">success</option>
            <option value="btn-warning">warning</option>

        </select>
        <button class="btn" v-bind:class="btnColor">버튼</button>
        <br>
        <button class="btn" v-bind:class="obj">obj버튼</button>
        <p>
            isLg: <strong>{{isLg}}</strong>
            <br>
            isPrimary: <strong>{{isPrimary}}</strong>
        </p>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el:"#app",
            data:{
                isLg:false,
                isPrimary:true,
                btnColor:"btn-primary"
               // obj:{"is-lg":this.isLg, "btn-primary":this.isPrimary} //모델에 있는 값도 사용 가능 (원래는 true false 였다)
            },

            /*
                computed object 안에 있는 함수의 이름이 모델명이 되고
                해당 함수에서 리턴해주는 값이 모델 값이 된다.
                모델안에 종속된 또 다른 모델이 있으면 computed object 안에
                정의하고 사용하면 된다.
            */

            computed:{
               obj(){
                    return {"btn-lg":this.isLg, "btn-primary":this.isPrimary}
               }
            }
        })
        
    </script>
</body>
</html>